@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
.fade-enter-active,
.fade-leave-active {
  -webkit-transition: all .35s;
  transition: all .35s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
}

.clickable {
  cursor: pointer;
}

#app {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#app nav {
  height: 65px;
  width: 100%;
  background-color: #ffffff;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
}

@media (max-width: 767px) {
  #app nav {
    padding: 0 25px;
  }
}

#app nav .nav-content {
  width: 100%;
  max-width: 1140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#app nav .nav-content img {
  height: 37.8px;
}

#app nav .nav-content ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #7c7c7c;
  padding: 25% 0;
}

@media (max-width: 767px) {
  #app nav .nav-content ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: white;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-transform: translateY(-100vh);
            transform: translateY(-100vh);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  #app nav .nav-content ul.open {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

#app nav .nav-content ul li {
  margin-right: 25px;
  font-size: 1.5em;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

@media (max-width: 767px) {
  #app nav .nav-content ul li {
    padding: 25px;
    margin: 0;
  }
}

#app nav .nav-content ul li:hover {
  color: #69cfeb;
  font-weight: 300;
}

#app nav .nav-content ul li.nav-button {
  padding: 10px 20px;
  background-color: #499fec;
  font-size: 1.5em;
  border-radius: 10px;
  font-weight: bold;
  color: #ffffff;
  margin: 0;
}

#app nav .nav-content ul li.nav-button:hover {
  background-color: #69cfeb;
}

#app nav .nav-content .phone-nav {
  width: 45px;
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: none;
}

@media (max-width: 767px) {
  #app nav .nav-content .phone-nav {
    display: inherit;
  }
}

#app nav .nav-content .phone-nav .bar {
  width: 100%;
  height: calc(38px / 6);
  background-color: #222222;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#app nav .nav-content .phone-nav.open .bar {
  background-color: #b82020;
}

#app nav .nav-content .phone-nav.open .bar:nth-child(1) {
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#app nav .nav-content .phone-nav.open .bar:nth-child(2) {
  opacity: 0;
}

#app nav .nav-content .phone-nav.open .bar:nth-child(3) {
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#app .back {
  padding: 35px;
  font-size: 2.3em;
}

@media (max-width: 767px) {
  #app .back {
    position: fixed;
    top: 85px;
    left: 25px;
    max-width: 200px;
    background-color: rgba(51, 51, 51, 0.8);
    border-radius: 15px;
    padding: 15px 25px;
    color: white;
  }
}

#app .wrapper {
  width: 100%;
  height: 100%;
  margin-top: 65px;
}

#app .wrapper .banner-container {
  width: 100%;
  min-height: 40vh;
  padding: 20px;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#app .wrapper .banner-container .banner-content {
  width: 100%;
  max-width: 1140px;
  height: 100%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#app .wrapper .banner-container .banner-content h1 {
  font-size: 5em;
  margin-bottom: 55px;
  font-weight: 100;
}

#app .wrapper .banner-container .banner-content p {
  font-size: 1.8em;
  margin-bottom: 50px;
  font-weight: 300;
}

#app .wrapper .banner-container .banner-content .banner-button {
  padding: 30px;
  background-color: #499fec;
  font-size: 1.5em;
  border-radius: 10px;
  font-weight: bold;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#app .wrapper .banner-container .banner-content .banner-button:hover {
  background-color: #69cfeb;
}

#app .wrapper .articles-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

@media (max-width: 767px) {
  #app .wrapper .articles-container {
    padding: 0 25px;
  }
}

#app .wrapper .articles-container.visible {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

#app .wrapper .articles-container .articles-content {
  width: 100%;
  max-width: 1140px;
  height: 100%;
  padding: 35px 0;
}

#app .wrapper .articles-container .articles-content p {
  font-size: 1.7em;
  color: #7c7c7c;
  margin-bottom: 35px;
}

#app .wrapper .articles-container .cards-container {
  width: 100%;
  max-width: 1140px;
  height: 100%;
  padding-bottom: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 767px) {
  #app .wrapper .articles-container .cards-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#app .wrapper .articles-container .cards-container .card {
  width: 100%;
  max-width: calc((1140px / 4) - 25px);
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  min-height: 331px;
  padding: 0 2px;
  -webkit-box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.2);
  margin: 0 10px;
  margin-bottom: 20px;
  border-radius: 3px;
}

@media (max-width: 767px) {
  #app .wrapper .articles-container .cards-container .card {
    margin: 10px 10px;
  }
}

#app .wrapper .articles-container .cards-container .card:hover img {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

#app .wrapper .articles-container .cards-container .card img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 250px;
  margin-bottom: 10px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media (max-width: 767px) {
  #app .wrapper .articles-container .cards-container .card img {
    -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
  }
}

#app .wrapper .articles-container .cards-container .card p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 140px;
  margin-bottom: 10px;
}

#app .wrapper .articles-container .cards-container .card .card-button {
  padding: 10px 15px;
  color: #ffffff;
  background-color: #52bd6f;
  width: 30%;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#app .wrapper .articles-container .cards-container .card .card-button:hover {
  background-color: #65e487;
}

#app .wrapper .article-container {
  width: 100%;
  height: 100%;
  max-height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1140px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  #app .wrapper .article-container {
    padding: 25px 25px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-height: none;
  }
}

#app .wrapper .article-container img {
  -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
}

@media (max-width: 767px) {
  #app .wrapper .article-container img {
    margin: 25px 0;
  }
}

#app .wrapper .article-container .article-data {
  padding: 0 25px;
  height: 100%;
  min-height: 50vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#app .wrapper .article-container .article-data h1 {
  font-size: 4em;
  margin-bottom: 25px;
}

#app .wrapper .article-container .article-data p {
  font-size: 1.8em;
  margin-bottom: 25px;
}

#app .wrapper .article-container .article-data .article-button {
  padding: 20px 15px;
  font-size: 1.7em;
  background-color: #d3d3d3;
  opacity: 0.7;
  max-width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 3px;
  cursor: default;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: auto;
}
/*# sourceMappingURL=styles.css.map */