@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


// Media query mixing for phone portrait
@mixin phone {
    @media (max-width: 767px) {
        @content;
    }
}

// Route transition
.fade-enter-active,
.fade-leave-active {
    transition: all .35s;
}
.fade-enter,
.fade-leave-to {
    opacity: 0;
}


// Page Styles
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}

.clickable {
    cursor: pointer;
}

#app {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    nav {
        height: 65px;
        width: 100%;
        background-color: #ffffff;
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .2);
        @include phone {
            padding: 0 25px;
        }
        .nav-content {
            width: 100%;
            max-width: 1140px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            img {
                height: 37.8px;
            }
            ul {
                list-style: none;
                display: flex;
                align-items: center;
                color: #7c7c7c;
                padding: 25% 0;
                @include phone {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100vh;
                    flex-direction: column;
                    background-color: white;
                    justify-content: space-around;
                    transform: translateY(-100vh);
                    transition: all 0.5s;
                    &.open {
                        transform: translateY(0);
                    }
                }
                li {
                    margin-right: 25px;
                    font-size: 1.5em;
                    transition: all 0.2s;
                    @include phone {
                        padding: 25px;
                        margin: 0;
                    }
                    &:hover {
                        color: #69cfeb;
                        font-weight: 300;
                    }
                    &.nav-button {
                        padding: 10px 20px;
                        background-color: #499fec;
                        font-size: 1.5em;
                        border-radius: 10px;
                        font-weight: bold;
                        color: #ffffff;
                        margin: 0;
                        &:hover {
                            background-color: #69cfeb;
                        }
                    }
                }
            }
            .phone-nav {
                width: 45px;
                height: 38px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                display: none;
                @include phone {
                    display: inherit;
                }
                .bar {
                    width: 100%;
                    height: calc(38px / 6);
                    background-color: #222222;
                    transition: all 0.5s;
                }
                &.open {
                    .bar {
                        background-color: rgb(184, 32, 32);
                    }
                    .bar:nth-child(1) {
                        transform-origin: left;
                        transform: rotate(45deg);
                    }
                    .bar:nth-child(2) {
                        opacity: 0;
                    }
                    .bar:nth-child(3) {
                        transform-origin: left;
                        transform: rotate(-45deg);
                    }
                }
            }
        }
    }
    .back {
        padding: 35px;
        font-size: 2.3em;
        @include phone {
            position: fixed;
            top: 85px;
            left: 25px;
            max-width: 200px;
            background-color: rgba(#333333, 0.8);
            border-radius: 15px;
            padding: 15px 25px;
            color: white;
        }
    }
    .wrapper {
        width: 100%;
        height: 100%;
        margin-top: 65px;
        .banner-container {
            width: 100%;
            min-height: 40vh;
            padding: 20px;
            background-color: black;
            display: flex;
            justify-content: center;
            align-items: center;
            .banner-content {
                width: 100%;
                max-width: 1140px;
                height: 100%;
                color: white;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                h1 {
                    font-size: 5em;
                    margin-bottom: 55px;
                    font-weight: 100;
                }
                p {
                    font-size: 1.8em;
                    margin-bottom: 50px;
                    font-weight: 300;
                }
                .banner-button {
                    padding: 30px;
                    background-color: #499fec;
                    font-size: 1.5em;
                    border-radius: 10px;
                    font-weight: bold;
                    transition: all 0.2s;
                    &:hover {
                        background-color: #69cfeb;
                    }
                }
            }
        }
        .articles-container {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            opacity: 0;
            transform: translateY(50px);
            transition: all 0.5s ease-in-out;
            @include phone {
                padding: 0 25px;
            }
            &.visible {
                opacity: 1;
                transform: translateY(0);
            }
            .articles-content {
                width: 100%;
                max-width: 1140px;
                height: 100%;
                padding: 35px 0;
                p {
                    font-size: 1.7em;
                    color: #7c7c7c;
                    margin-bottom: 35px;
                }
            }
            .cards-container {
                width: 100%;
                max-width: 1140px;
                height: 100%;
                padding-bottom: 35px;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                @include phone {
                    justify-content: center;
                }
                .card {
                    width: 100%;
                    max-width: calc((1140px / 4) - 25px);
                    overflow: hidden;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;
                    min-height: 331px;
                    padding: 0 2px;
                    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.2);
                    margin: 0 10px;
                    margin-bottom: 20px;
                    border-radius: 3px;
                    @include phone {
                        margin: 10px 10px;
                    }
                    &:hover {
                        img {
                            filter: grayscale(0%);
                        }
                    }
                    img {
                        object-fit: cover;
                        height: 250px;
                        margin-bottom: 10px;
                        filter: grayscale(100%);
                        transition: all 0.5s;
                        @include phone {
                            filter: grayscale(0%);
                        }
                    }
                    p {
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        max-width: 140px;
                        margin-bottom: 10px;
                    }
                    .card-button {
                        padding: 10px 15px;
                        color: #ffffff;
                        background-color: #52bd6f;
                        width: 30%;
                        text-align: center;
                        font-size: 1.2em;
                        font-weight: bold;
                        transition: all 0.2s;
                        &:hover {
                            background-color: #65e487;
                        }
                    }
                }
            }
        }
        .article-container {
            width: 100%;
            height: 100%;
            max-height: 50vh;
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
            max-width: 1140px;
            margin: 0 auto;
            @include phone {
                padding: 25px 25px;
                flex-direction: column;
                max-height: none;
            }
            img {
                box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .2);
                @include phone {
                    margin: 25px 0;
                }
            }
            .article-data {
                padding: 0 25px;
                height: 100%;
                min-height: 50vh;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                h1 {
                    font-size: 4em;
                    margin-bottom: 25px;
                }
                p {
                    font-size: 1.8em;
                    margin-bottom: 25px;
                }
                .article-button {
                    padding: 20px 15px;
                    font-size: 1.7em;
                    background-color: #d3d3d3;
                    opacity: 0.7;
                    max-width: 200px;
                    display: flex;
                    justify-content: center;
                    border-radius: 3px;
                    cursor: default;
                    align-self: flex-end;
                    margin-top: auto;
                }
            }
        }
    }
}
