{% extends 'base.html.twig' %}

{% block libraries %}
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="https://unpkg.com/vuex@2.0.0"></script>
    <script src="https://unpkg.com/vue-router@2.0.0/dist/vue-router.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="./styles/styles.css">
{% endblock %}

{% block body %}
    <div id="app">
        <nav>
            <div class="nav-content">
                <img 
                    src="/img/logo.png" 
                    class="clickable"
                    @click="$router.push('/')"
                />
                <ul :class="{open: open}">
                    <li class="clickable">ENTRAR</li>
                    <li class="clickable">ENTRAR</li>
                    <li class="clickable">ENTRAR</li>
                    <li class="nav-button clickable">LOREM IPSUM</li>
                </ul>
                <div class="phone-nav" :class="{open: open}" @click="open = !open">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
            </div>
        </nav>
        <transition name="fade" mode="out-in">
            <router-view></router-view>
        </transition>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="module" src="./scripts/vue.js"></script>
{% endblock %}

